

.categories {
    display: flex;
    gap: 20px;
    max-width: 90%;
    margin: 100px 5% 50px 5%;

    justify-content: center;
    align-self: center;


}
.categories .category{
    border: 1px solid transparent;
    border-radius: 5px;
}

.categories .category:hover {
    opacity: 0.8;
    border: 1px solid black;
}

.categories .category img {
    max-width: 100%;
}

@media only screen and (max-width: 900px) {
    .categories {
      flex-direction: column;

      margin: 50px 5%;
    }
}